/Day_01/input.txt
/Day_02/input.txt
/Day_03/input.txt
/Day_04/input.txt
/Day_05/input.txt
/Day_06/input.txt
/Day_07/input.txt
/Day_08/input.txt
/Day_09/input.txt
/Day_10/input.txt
/Day_11/input.txt
/Day_12/input.txt
/Day_13/input.txt
/Day_14/input.txt
/Day_15/input.txt
/Day_16/input.txt
/Day_17/input.txt
/Day_18/input.txt
/Day_19/input.txt
/Day_20/input.txt
/Day_21/input.txt
/Day_22/input.txt
/Day_23/input.txt
/Day_24/input.txt
